@media (max-width: 480px) {
  .cart-container {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .title-cart {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .title-cart h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
  }
}

@media (max-width: 480px) {
  .item-deatails {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .cart-img-course {
    width: 100px;
    height: 70px;
    background: gray;
  }
}

@media (max-width: 480px) {
  .cart-img-course img {
    width: 75%;
    aspect-ratio: 3/2;
    object-fit: contain;
  }
}

@media (max-width: 480px) {
  .price-item-cart {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .resumen-item {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .title-resume-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .title-resume-cart h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
  }
}

@media (max-width: 480px) {
  .price-resumen {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

@media (max-width: 480px) {
  .total-cart {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .buttom-buy-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
  }
}


@media (max-width: 480px) {
  .stripe-top{
    width: 132px;
    height: 8px;
    background: gray;
    margin-top: 20px;
    margin-bottom: 10px
  }
}

@media (max-width: 480px) {
  .stripe-bottom{
    width: 132px;
    height: 8px;
    background: gray;
    margin-top: 10px;
    margin-bottom: 20px
  }
}


@media (max-width: 480px) {
  .button-buy{
    width: 185px;
    height: 39px;
    box-sizing: border-box;
    display: flex;
    padding: 10px 30px;
    background: #000000;
    border-radius: 7px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    
  }
}

