.curso-programa-dropdown {
	width: 75%;
	padding: 3em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* box-shadow: 0px 0px 10px 2px #00000040; */
	border: 2px solid #d9d9d9;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}

.dropdown-item {
	width: 90%;
	overflow: hidden;
	cursor: pointer;
	border-bottom: 2px solid #d9d9d9;
}

.dropdown-item svg {
	font-size: 3em;
}

.dropdown-item-title {
	font-size: 32px;
	padding: 1em;
}

.dropdown-item-info {
	height: 0;
	display: flex;
	gap: 2em;
	opacity: 0;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
.dropdown-item-info.active {
	height: 300px;
	opacity: 1;
}

@media (max-width: 480px) {
	.curso-programa-dropdown {
		width: 360px;
		padding: 2em 0;
	}
	.dropdown-item-info.active {
		height: 400px;
		flex-direction: column;
		gap: 1em;
	}
	.dropdown-item-title {
		font-size: 20px;
		padding: 0.5em;
		flex-shrink: 5;
	}
	.dropdown-item svg {
		font-size: 3em;
	}
}
