.courses-hero {
	position: relative;
	width: 100%;
	height: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2em;
	background-color: var(--primaryColor);
}

.courses-hero-img {
	position: absolute;
	height: 100%;
	top: 0;
}

.courses-hero-title {
	max-width: 600px;
	text-align: center;
	font-size: 56px;
	font-weight: 700;
	color: #fff;
	z-index: 1;
}

.courses-hero-subtitle {
	font-size: 48px;
	color: var(--secondaryColor);
	z-index: 1;
}

.courses-body {
	width: 100%;
	padding: 3em 0 10em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.courses-body-container {
	display: flex;
	flex-direction: column;
	gap: 5em;
}

.courses-body-title {
	font-size: 56px;
	font-weight: 700;
	margin-top: 2em;
	align-self: flex-start;
}

.courses-footer {
	width: 100%;
	height: 1055px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2em;
	background-color: var(--tertiaryColor);
}

.courses-footer-title {
	font-size: 56px;
	font-weight: 700;
	color: #fff;
	display: flex;
	align-items: center;
	gap: 0.3em;
}
.courses-footer-title img {
	width: 350px;
}

.courses-footer-text {
	font-size: 40px;
	font-weight: 700;
	color: #fff;
}
.courses-footer-text span {
	color: var(--secondaryColor);
}

.courses-footer-img {
	width: 720px;
	margin-top: 5em;
}

@media (max-width: 480px) {
	.courses-hero {
		height: auto;
		padding: 3em 0;
	}
	.courses-hero-title {
		max-width: 95%;
		font-size: 38px;
	}
	.courses-hero-subtitle {
		font-size: 32px;
		text-align: center;
	}
	.courses-body {
		padding: 2em 0 5em 0;
	}
	.courses-body-container {
		gap: 2em;
	}
	.courses-body-title {
		font-size: 42px;
		margin-top: 1em;
		align-self: center;
	}
	.courses-footer {
		height: auto;
		padding: 2em 0;
		gap: 1em;
	}
	.courses-footer-title {
		font-size: 42px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.courses-footer-title img {
		width: 250px;
	}
	.courses-footer-text {
		font-size: 30px;
		text-align: center;
	}
	.courses-footer-img {
		width: 90%;
		margin: 2em 0;
	}
}
