.curso-detalle {
	min-height: 790px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-around;
	gap: 15em;
}
.curso-detalle span {
	font-weight: 700;
}

.curso-detalle-video {
	width: 700px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 2em;
}
.curso-detalle-video p {
	width: 150px;
	text-align: end;
}

.curso-btn-heart {
	font-size: 4em;
	color: var(--dangerColor);
}

.curso-btn-stars {
	display: flex;
	font-size: 2.5em;
	gap: 0.3em;
}

.curso-detalle-info {
	width: 600px;
	display: flex;
	flex-direction: column;
	gap: 2em;
}
.curso-detalle-info button {
	align-self: center;
}

.curso-detalle-info button:hover {
	background-color: #dab204 !important;
}

.curso-detalle-title {
	font-size: 40px;
	font-weight: 700;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.curso-detalle-content {
	font-size: 24px;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.curso-detalle-instructor {
	font-size: 32px;
}

.curso-programa {
	padding: 10em 0 5em 0;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4em;
}

.curso-programa-title {
	margin-left: 2em;
	font-size: 48px;
	font-weight: 500;
	align-self: flex-start;
}

.curso-banner {
	height: 670px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: var(--tertiaryColor);
	color: #fff;
}

.curso-banner-content {
	display: flex;
	flex-direction: column;
	gap: 3em;
}

.curso-banner-content button {
	align-self: center;
	margin-top: 1em;
}

.curso-banner-content button:hover {
	background-color: #dab204 !important;
}

.curso-banner-title {
	font-size: 48px;
	font-weight: 500;
}

.curso-banner-text {
	width: 570px;
	font-size: 32px;
}

.curso-reseñas {
	height: 775px;
	padding: 0 5em;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2em;
}

.curso-reseñas-title {
	font-size: 48px;
	font-weight: 500;
	align-self: flex-start;
}

.curso-reseñas-content {
	width: 1200px;
}

.curso-reseñas-user {
	width: 100%;
	padding: 2em 0 4em 0;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	border-bottom: 2px solid #d9d9d9;
}

.curso-reseñas-user span {
	font-size: 32px;
	font-weight: 700;
}

.curso-reseñas-user p {
	font-size: 24px;
	max-width: 500px;
}

.curso-reseñas-img {
	padding: 1em;
	background-color: #d9d9d9;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.curso-reseñas-stars {
	display: flex;
	font-size: 2.2em;
	color: var(--primaryColor);
	gap: 0.3em;
}

@media (max-width: 480px) {
	.curso-detalle {
		min-height: auto;
		width: 360px;
		flex-direction: column;
		gap: 2em;
		padding: 2em 0;
	}
	.curso-btn-heart {
		font-size: 3em;
		margin: 0 0.3em 0 0;
	}
	.curso-detalle-video {
		width: 100%;
	}
	.curso-detalle-video p {
		width: 90%;
	}
	.curso-btn-stars {
		font-size: 1.8em;
	}
	.curso-detalle-info {
		width: 90%;
		gap: 1em;
	}
	.curso-detalle-info button {
		font-size: 26px !important;
	}
	.curso-detalle-title {
		font-size: 32px;
	}
	.curso-detalle-content {
		font-size: 20px;
	}
	.curso-detalle-instructor {
		font-size: 26px;
	}
	.curso-programa {
		padding: 3em 0;
		gap: 3em;
	}
	.curso-programa-title {
		margin-left: 0;
		font-size: 42px;
		align-self: center;
	}
	.curso-banner {
		height: auto;
		flex-direction: column;
		padding: 2em 0;
	}
	.curso-banner-content {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
	.curso-banner-title {
		font-size: 32px;
		text-align: center;
	}
	.curso-banner-text {
		width: 100%;
		font-size: 22px;
		text-align: center;
	}
	.curso-banner div:nth-child(2) {
		width: 80%;
		margin-top: 2em;
	}
	.curso-banner-content button {
		font-size: 26px !important;
		margin-top: 0;
	}
	.curso-reseñas {
		height: auto;
		padding: 2em 0;
		gap: 0;
	}
	.curso-reseñas-title {
		font-size: 32px;
		align-self: center;
	}
	.curso-reseñas-content {
		width: 100%;
	}
	.curso-reseñas-user {
		width: 100%;
		padding: 1em 0 2em 0;
		flex-direction: column;
		align-items: center;
	}
	.curso-reseñas-user div:first-child {
		text-align: center;
		flex-direction: column;
		gap: 1em;
	}
	.curso-reseñas-user span {
		font-size: 24px;
	}
	.curso-reseñas-user p {
		font-size: 18px;
	}
	.curso-reseñas-stars {
		margin-top: 1em;
		font-size: 1.8em;
	}
}
