@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aquí definimos las Custom properties */
:root {
	--primaryColor: #6734ff;
	--secondaryColor: #f9db47;
	--tertiaryColor: #2c2c34;
	--successColor: #98ed21;
	--infoColor: #0ae0fc;
	--warningColor: #eaea38;
	--dangerColor: #ff6416;
	--backgroundColor: #ededf4;
	--fontPrimary: 'Roboto', sans-serif;
}

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: var(--fontPrimary);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: baseline;
}

/* Configuramos anclas suaves */
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

/* Configuramos la tipografía para toda la web */
#root {
	position: relative;
	min-height: 100vh;
	width: 100%;
	font-size: 100%;
	font-family: var(--tipo-principal);
	background-color: var(--backgroundColor);
	display: grid;
	grid-template-rows: auto 1fr auto;
	overflow-x: hidden;
}

main {
	padding-top: 80px;
}
@media only screen and (max-width: 390px) {
	main {
		padding-top: 110px;
	}
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
	max-width: 100%;
	width: 100%;
	display: block;
	/* opcional */
	-o-object-fit: cover;
	object-fit: cover;
	/* opcional */
	-o-object-position: center center;
	object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
	display: block;
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
	display: inline;
}

/* Quitamos los puntos de los <li> */
li {
	list-style-type: none;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: inherit;
}

/* Reseteamos las tablas */
table,
tr,
td {
	border-collapse: collapse;
	border-spacing: 0;
}
