.slider-container {
	position: relative;
}

.slider-img-container img {
	object-fit: cover;
	object-position: top;
	max-height: 850px;
}

.slider-content button:hover {
	background-color: #dab204 !important;
}

.slider-btn {
	position: absolute;
	top: 50%;
	height: 72px;
	width: 72px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 50px;
	color: var(--secondaryColor);
}

.prev {
	left: 5%;
}
.next {
	right: 5%;
}

.slider-marks-container {
	position: absolute;
	width: 100%;
	height: auto;
	left: 0;
	bottom: 1em;
	display: flex;
	gap: 1em;
	justify-content: center;
}

.slider-mark {
	width: 25px;
	height: 25px;
	background-color: transparent;
	border: 2px solid var(--secondaryColor);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.slider-mark.active {
	background-color: var(--secondaryColor);
}

.slider-content {
	width: 720px;
	height: auto;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	gap: 2em;
	text-shadow: 2px 2px 10px #000;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.slider-title {
	font-size: 72px;
	font-weight: 700;
	text-align: center;
}
.slider-subtitle {
	font-size: 48px;
	text-align: center;
}
.slider-text {
	font-size: 40px;
	text-align: center;
	margin-bottom: 2em;
}
