.about-container {
	height: 734px;
	width: 100%;
	background-color: var(--tertiaryColor);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.about-box {
	width: 570px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
}

.about-box button:hover {
	background-color: #dab204 !important;
}

.about-svg {
	width: 480px;
}

.about-title {
	font-size: 56px;
	font-weight: 700;
}

.about-text {
	font-size: 32px;
	margin-bottom: 1.5em;
}

.about-text-highlight {
	color: var(--warningColor);
}

@media only screen and (max-width: 390px) {
	.about-container {
		height: auto;
		flex-direction: column;
		padding: 2em 0;
	}
	.about-box {
		width: 90%;
	}
	.about-title {
		font-size: 42px;
	}
	.about-text {
		font-size: 18px;
	}
	.about-svg {
		width: 320px;
	}
}
