.login-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login-title {
	font-size: 56px;
	font-weight: 700;
}

.login-subtitle {
	font-size: 40px;
	margin-bottom: 2em;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 2em;
}

.login-form input {
	width: 380px;
	height: 48px;
	padding: 16px;
	border: 1.8px solid var(--tertiaryColor);
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}

.login-form-register {
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	color: var(--primaryColor);
}

.login-form-register p {
	font-size: 14px;
	color: var(--tertiaryColor);
}
