.cta {
	font-weight: 700;
	padding: 8px 22px;
	transition: all 0.2s ease-out;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}

@media only screen and (max-width: 390px) {
	.cta {
		font-size: 18px !important;
		padding: 4px 12px;
	}
}
