.search {
	position: relative;
}

.search-input {
	height: 40px;
	width: 412px;
	color: var(--tertiaryColor);
	font-size: 20px;
	border: 2px solid var(--tertiaryColor);
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}

.search-input::placeholder {
	padding-left: 2em;
}

.search-icon {
	position: absolute;
	left: 0.5em;
	top: 0;
	height: 40px;
	width: 1.5em;
	color: var(--tertiaryColor);
}
