.search {
	height: 30px;
}

.search div:first-child {
	
	display: flex;
	position: relative;

}

.search-input {
	max-width: 200px;
	color: #000;
	font-size: 20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.search-icon {
	position: relative;
	right: 20px;
	top: 0;
	margin: 2px 5px 0 0;
	height: 23px;
	color: black;
	cursor: pointer;
}

.suggestion-container{
	width: 200px;
	height: 150px;
	display: flex;
	overflow-y: auto;
}

.suggestion{
	width: auto;
	height: auto;
	border: 1px solid black;
	padding: 3px;
	background: white;
	cursor: pointer;
	color: black;
}