.search {
	height: 30px;
}

.search div:first-child {
	display: flex;
	position: relative;
}

.search-input {
	height: 40px;
	width: 412px;
	color: var(--tertiaryColor);
	padding-left: 2em;
	font-size: 20px;
	border: 2px solid var(--tertiaryColor);
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}

.search-icon {
	position: absolute;
	left: 0.5em;
	top: 0;
	height: 40px;
	width: 1.5em;
	color: var(--tertiaryColor);
}

.suggestion-container {
	width: 412px;
	height: auto;
	display: flex;
	overflow: hidden;
	box-shadow: 2px 2px 10px var(--tertiaryColor);
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}

.suggestion {
	width: auto;
	height: auto;
	/* border: 1px solid black; */
	padding: 3px;
	font-weight: 400;
	background-color: #fff;
	color: var(--tertiaryColor);
	cursor: pointer;
}
